// LAYOUT STYLES
section {
  margin-top: 80px;
  margin-bottom: 80px;
  @media screen and (min-width: $screen-md-min) {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}
.content-container {
  max-width: $content_max-width;
  margin: 0 auto;
}

// TYPOGRAPHY
* { font-family: $font-primary }
h1,
h2,
h3,
h4 {
  font-family: $font-headline;
  font-weight: 100;
  &span {
    font-family: $font-headline;
  }
}

h2 {
  font-size: 3rem;
  line-height: 1em;
}

p,
li {
  font-family: $font-primary;
  font-weight: 300;
}

ul {
  margin-left: 0.5em;
}

a:hover {
  text-decoration: none;
}

// Typography media queries
@media only screen and (min-width: $screen-md-min) {
  h2 {
    font-size: 3.5rem;
    line-height: 1.75em;
  }
}

section {
  padding-left: 5%;
  padding-right: 5%;
}
section.section-no-pad-mobile {
  padding-left: 0%;
  padding-right: 0%;
}
@media only screen and (min-width: $screen-md-min) {
  section {
    padding-left: 0%;
    padding-right: 0%;
  }
}


// BUTTON STYLES
.cta-primary {
  background-color: darken($color__brand-primary, 8%);
  padding: 10px 40px;
  color: $color__text-white;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $color__text-white;
    background-color: $color__brand-primary;
  }
  &.color-secondary {
    background-color: $color__brand-secondary;
    &:hover {
      background-color:darken($color__brand-secondary, 8%)
    }
  }
  &:visited {
    color: $color__text-white;
  }
}

.cta-primary-outline {
  padding: 10px 40px;
  color: $color__text-white;
  border: 3px solid $color__brand-primary;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0px 5px;
  transition: all 0.2s ease-in-out;
  &:visited {
    color: $color__text-white;
  }
  &:hover {
    background-color: $color__brand-primary;
  }
}

.cta-secondary {
  background-color: $color__brand-secondary;
  padding: 10px 40px;
  color: $color__text-white;
  border: 3px solid $color__brand-secondary;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0px 5px;
  transition: all 0.2s ease-in-out;
  min-width: 225px;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $color__text-white;
    border-color: lighten($color__brand-secondary, 8%);
    background-color: lighten($color__brand-secondary, 8%);
  }
  &.color-secondary {
    background-color: $color__brand-secondary;
    &:hover {
      background-color: lighten($color__brand-secondary, 8%)
    }
  }
  &:visited,
  &:active {
    color: $color__text-white;
  }
}

.cta-secondary-outline {
  padding: 10px 40px;
  color: $color__brand-secondary;
  border: 3px solid $color__brand-secondary;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0px 5px;
  transition: all 0.2s ease-in-out;
  min-width: 225px;
  &:visited {
    color: $color__brand-secondary;
  }
  &:hover {
    color: $color__text-white;
    border-color: lighten($color__brand-secondary, 8%);
    background-color: lighten($color__brand-secondary, 8%);
  }
}

.home-anchor {
  display: block;
  position: relative;
  top: -110px;
  visibility: hidden;
}