// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin cta-primary {
	background-color: $color__brand-primary;
	display: block;
	border: 0;
	border-radius: 0;
	font-weight: bold;
	padding: 10px 40px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	&:hover {
		background-color: darken($color__brand-primary, 8%);
	}
	&:visited {
    color: $color__text-white;
  }
	&:focus {
		border: none;
		outline: none;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	}
}
