// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin cta-primary {
	background-color: $color__brand-primary;
	display: block;
	border: 0;
	border-radius: 0;
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: bold;
	padding: 10px 40px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	&:hover {
		background-color: darken($color__brand-primary, 8%);
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	}
	&:visited {
    color: $color__text-white;
  }
	&:focus {
		border: none;
		outline: none;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
	}
}

@mixin fancy-divider {
	&:before {
		content: '';
		width: 115%;
		border-bottom: 2px solid $color__brand-primary;
		position: absolute;
		bottom: 0px;
		right: -35%;
	}
	&:after {
		content: '';
		width: 115%;
		border-bottom: 2px solid $color__brand-primary;
		position: absolute;
		bottom: calc(0px - 8px);
		right: calc(-35% - 20%);
	}
}

@mixin fancy-divider-vert {
	&:before,
	&:after {
		content: '';
		border-left: 2px solid $color__brand-primary;
		position: absolute;
		height: 80%;
	}
	&:before {
		top: 0px;
		left: 0px;
	}
	&:after {
		top: 25px;
		left: calc(0px + 8px);
	}
}

@mixin standard-text-block {
	color: $color__text-primary;
	line-height: 1.6rem;
	font-family: $font-primary;
	font-weight: 300;
	font-size: 16px;
}

@mixin stack-mobile($scrn) {
	@media screen and (max-width: $scrn) {
		flex-direction: column;
	}
}
