// Theme Footer
$bottom-spacing: 20px;

.site-footer {
	background-color: $color__background-footer;
	margin: 25px 0px 0px;
	padding: 10px;
	@media screen and (min-width: $screen-sm-min) {
		margin-top: 40px;
	}
	.container {
		max-width: $content_max-width;
		margin: 0 auto;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		@include stack-mobile($screen-sm-min);
		p {
			margin: 0;
		}
		.left, .right {
			flex: 1;
		}
		@media screen and (min-width: $screen-sm-min) {
			align-items: baseline;
			.footer-site-branding {
				order: 2;
			}
			.footer-site-nav {
				order: 1;
			}
			.footer-social-menu {
				order: 3;
			}
		}
	}
	.footer-copyright {
		font-size: 14px;
		font-style: italic;
		color: $color__text-primary;
		text-align: center;
		p {
			margin-bottom: 0;
		}
	}
	.footer-site-branding {
		margin-bottom: $bottom-spacing;
		flex: 1;
		text-align: center;
		h4 {
			color: $color__text-primary;
			font-size: 2rem;
			text-align: center;
			margin: 0;
		}
		.logo img {
			max-width: 75px;
		}
	}
	.footer-site-nav {
		flex:1;
		margin-bottom: $bottom-spacing;
		nav ul li {
			vertical-align: top;
			a:hover {
				color: $color__brand-secondary;
				text-decoration: underline;
			}
		}
	}
	.footer-social-menu {
		flex: 1;
		text-align: right;
		margin-bottom: $bottom-spacing;
		i {
			font-size: 26px;
			color: $color__brand-secondary;
		}
	}
}