.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}

// Theme header

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		a {
			text-decoration: none;
			padding: 10px;
			color: $color__text-primary;
			&:visited {
				color: $color__text-primary;
			}
		}
	}
}

.vv-site-header {
	padding: 12px 5%;
	background-color: rgba(255, 255, 255, 0.5);
	position: fixed;
	top: 0;
	width: 100%;
	.content {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 auto;
		max-width: $content-max-width;
	}
	
	.header-left-nav {
		
		order: 1;
	}
	.site-branding {
		order: 2;
	}
	.header-right-nav {
		display: flex;
		align-items: center;
		order: 3;
		i {
			color: $color__brand-secondary;
			font-size: 30px;
		}
	}
}

.site-branding {
	text-align: center;
	line-height: 0px;
	img {
		max-height: 100px;
		width: auto;
		display: block;
	}
}

// Theme Footer
.site-footer {
	background-color: $color__background-footer;
	padding: 10px;
	.container {
		max-width: $content_max-width;
		margin: 0 auto;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: center;
		.left, .right {
			flex: 1;
		}
	}
	.footer-info {
		p {
			margin: 0;
		}
	}
	
	.footer-social-menu {
		text-align: right;
		i {
			font-size: 26px;
			color: $color__brand-secondary;
		}
	}
}
