.home-ig-feed {
  margin-top: 65px;
  margin-bottom: 0px;
  overflow-x: hidden;
  .ig-title-card {
    border: 3px solid $color__brand-primary;
    border-radius: 15px;
    margin: 0 auto 15px;
    padding: 30px;
    text-align: center;
    width: 80%;
    max-width: 1100px;
    overflow: hidden;
    position: relative;
    h3 {
      color: $color__brand-secondary;
      font-family: $font-headline;
      font-size: 2.0rem;
      text-align: center;
      margin: 0px; 
    }
    i {
      font-size: 9.5rem;
      color: $color__brand-secondary;
      position: absolute;
      top: 50%;
      left: 33%;
      opacity: 0.15;
      transform: translate(-50%, -50%);
    }
  }

  #sb_instagram.sbi {
    padding-bottom: 0px !important;
    // overflow-x: hidden;
    #sbi_images {
      float: none;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(1,1fr);
      grid-auto-rows: 0;
      gap: 10px;
      // overflow-x: hidden;
      .sbi_item {
        transition: transform 0.15s ease-in-out;
        &:hover {
          transform: scale(1.02);
          z-index: 50;
        }
        .sbi_photo_wrap {
          height: 100%;
        }
        .sbi_photo {
          height: 100% !important;
          position: relative;
          opacity: 1 !important;
         
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color__brand-primary;
            background-image: linear-gradient(145deg, $color__brand-primary 40%, $color__brand-secondary 100%);
            transition: all 0.15s ease-in-out;
            @media screen and (min-width: $screen-lg-min) {
              opacity: 0.5;
            }
          }  
          &:hover:before {
            opacity: 0;
          }
          img {
            display: block !important;
            height: 100%;
            object-fit: cover;
          }
          .sbi_lightbox_carousel_icon {
            display: none !important;
          }
          &:hover {
            .sbi-screenreader {
              display: block;
            }
          }
        }
       
      }
    }
  }
}