.home-ig-feed {
  margin-top: 65px;
  margin-bottom: 0px;
  .ig-title-card {
    border: 3px solid $color__brand-primary;
    margin: 0 auto 30px;
    padding: 30px;
    text-align: center;
    width: 80%;
    max-width: 1100px;
    overflow: hidden;
    position: relative;
    h3 {
      color: $color__brand-secondary;
      font-family: $font-headline;
      font-size: 2.0rem;
      text-align: center;
      margin: 0px; 
    }
    i {
      font-size: 9.5rem;
      color: $color__brand-secondary;
      position: absolute;
      top: 50%;
      left: 33%;
      opacity: 0.15;
      transform: translate(-50%, -50%);
    }
  }

  #sb_instagram.sbi {
    padding-bottom: 0px !important;

    #sbi_images {
      // padding-bottom: 0px !important;
      float: none;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      // flex-direction: row;
      // flex-wrap: wrap;
      // overflow-x: auto;
      .sbi_item {
        .sbi_photo_wrap {
          height: 100%;
        }
        .sbi_photo {
          height: 100% !important;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color__brand-primary;
            background-image: linear-gradient(145deg, $color__brand-primary 40%, $color__brand-secondary 100%);
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
          }  
          &:hover:before {
            opacity: 0.4;
          }
          img {
            display: block !important;
            height: 100%;
            object-fit: cover;
          }
          .sbi_lightbox_carousel_icon {
            display: none !important;
          }
          &:hover {
            .sbi-screenreader {
              display: block;
            }
          }
        }
       
      }
    }
  }
  
  
}