.home-benefits {
  $icon-width: 100px;
  $icon-height: 100px;

  background-color: $color__brand-secondary;
  padding: 65px 5%;
  margin-bottom: 0px;
  .home-benefits-container {
    max-width: $content_max-width;
    margin: 0 auto;
  }
  .home-benefits-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 4rem;
  }
  .home-benefit-card {
    min-width: 150px;
    max-width: 30%;
    flex-basis: auto;
    flex-grow: 1;
  }
  .home-benefit-card-text {
    background-color: $color__background-light;
    padding: 20px;
    padding-top: calc(#{$icon-height}*0.5);
    text-align: center;
  }
  .home-benefit-icon {
    height: $icon-height;
    width: $icon-width;
    background-color: $color__brand-primary;
    transform: translateY(50%);
    top: 50%;
    position: relative;
    z-index: 2;
    margin: 0 auto 0 auto;
    margin-top: calc(-1 * (#{$icon-height} * 0.5))
  }
  .home-benefits-ctas {
    text-align: center;
  }
}