.home-programs {
  background-color: white;
  padding: 0px 2%;
  margin: 0 auto;
  text-align: center;
  max-width: $content_max-width;
  h2 {
    color: $color__text-primary;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-bottom: 25px;
    position: relative;
    @include fancy-divider;
  }
  h3 {
    font-size: 50px;
    line-height: 100%;
    font-variant: petite-caps;
    margin-bottom: 0.25rem;
    color: $color__text-primary;
  }
  p {
    color: $color__text-primary;
    padding: 0px 30px;
  }
  .home-programs-container {
    display: flex;
    flex-direction: row;
    margin: 40px auto 0;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
  }
  .home-program-card {
    border-radius: 15px;
    flex: 1 0 320px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    margin: 5px 25px 40px;
    transition: all 150ms ease-in-out;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.18);
    }
    // &:nth-of-type(2) {
    //   margin-top: 45px;
    //   margin-bottom: 45px;
    // }
    // @media screen and (min-width: $screen_sm_min) {
    //   min-height: 65vh;
    //   width: 33%;
    //   &:nth-of-type(2) {
    //     margin-top: 5px;
    //     margin-bottom: 5px;
    //   }
    // }
  }
  .program-description {
    color: $color__text-primary;
    margin-top: 15px;
    em {color: $color__text-primary;}
    li {
      text-align: left;
    }
  }
  .program-image {
    align-self: center;
    position: relative;
    width: 100%;
    min-height: 275px;
    height: 100%;
    display: flex;
    &:after {
      position: absolute;
      content: '';
      left: 0;
      top: -5px;
      width: 100%;
      height: 49px;
      background: rgb(255,255,255);
      background:linear-gradient(180deg, #ffffff 9%, rgba(255, 255, 255, 0) 100%);
    }
    img {
      flex: 1;
      object-fit: cover;
      width: 100%;
      // height: 100%;
    }
  }
  .program-info {
    flex: 1;
    margin-bottom: 45px;
    margin-top: 0px;
  }
  .program-text {
    padding-bottom: 5px;
    z-index: 2;
    text-align: center;
  }
  .program-title {
    color: $color__text-primary;
    padding: 20px 30% 10px 5%;
    text-align: left;
    div {
      padding-bottom: 5px;
      border-bottom: 2px solid $color__brand-primary;
    }
  }
  @media screen and (min-width: $screen-sm-min) {
    h2 {
      margin-bottom: 45px;
    }
  }
  
}