.home-hero {
  $header-offset: 109px;
  height:calc(100vh - #{$header-offset});
  display: flex;
  align-items: baseline;
  margin-top: 0;
  margin-bottom: 0;
  
  .home-site-title  {
    h1 {
      color: $color__text-white;
      font-family: $font-headline;
      font-variant: petite-caps;
      font-size: 9em;
      text-align: right;
      line-height:100%;
      
    }
    span {
      background-color: $color__brand-primary;
      padding: 0px 40px;
      &:first-child {
        margin-right: 100px;
      }
    }
    @media (max-width: $screen-md-max) {
      h1 {
        font-size: 3.5em;
      }
      span {
        padding: 0px 20px;
        &:first-child {
          margin-right: 10%;
        }
      }
      
    }
  }
  .home-hero-bottom-bar {
    max-width: $content_max-width;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .home-hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    position: relative;
    @media screen and (max-width: $screen-xs-max) {
      justify-content: flex-start;
    }
  }
  .home-hero-headshot {
    position: absolute;
    height: 100%;
    right: 0;
    z-index: 0;
    width: 45%;
    text-align: right;
    img {
      max-height: 100%;
      height: 100%;
      object-fit: cover;
      width: 100%;
      max-width: 780px;
    }
    @media screen and (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
  .home-hero-scroll-indicator {
    bottom: 2vh;
    margin-bottom: 20px;
    text-align: center;
    animation-duration: 2s;
      animation-delay: 1.5s;
      animation-iteration-count: infinite;
      animation-name: bounce-2;
      animation-timing-function: none;
    p {
      color: $color__text-primary;
      font-style: italic;
      margin-bottom: 2px;
    }
    img {
      width: 20px;
      opacity: 0.5;
      
    }
  }
  .home-hero-text-content {
    margin-top: -15vh;
    margin-right: 5vw;
    z-index: 2;
    @media screen and (max-width: $screen-xs-max) {
      width: 90%;
      margin: 0 auto;
    }
  }
  .home-site-tagline {
    color: $color__text-primary;
    font-size: 1.5rem;
    font-style: italic;
    margin-left: -0.5em;
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
    @include mini-fancy-divider;
    @media screen and (max-width: $screen-xs-max) { 
      margin-left: 0;
    }
  }
  .home-social-menu {
    position: absolute;
    left: 0;
    bottom: 0;
    align-items: center;
    ul {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      margin-left: 0px;
    }
    a {
      padding: 0px 10px;
    }
    i {
      color: $color__brand-secondary;
      font-size: 30px;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: darken($color__brand-secondary, 15%);
      }
    }
  }
  .home-anchor {
    align-self: flex-start;
  }
}
