.home-benefits {
  $icon-width: 100px;
  $icon-height: 100px;
  $icon-size: 80px;

  text-align: center;
  h2 {
    color: $color__text-primary;
    margin-bottom: 4rem;
    position: relative;
    @include fancy-divider;
  }
  .home-benefits-container {
    width: 100%;
    max-width: $content_max-width;
    margin: 0 auto;
  }
  .home-benefits-cards-container {
    margin-bottom: 4rem;
    @include stack-mobile($screen-xs-max);
  }
  .home-benefit-card {
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
  .home-benefit-card-text {
    background-color: $color__background-light;
    padding: 0px;
    text-align: center;
  }
  .home-benefit-icon {
    height: $icon-height;
    color: $color__brand-primary;
    margin: 0 auto 20px auto;
    text-align: center;
    i {
      font-size: $icon-size;
    }
  }
  .home-benefits-ctas {
    text-align: center;
    @include stack-mobile($screen-xs-max);
    @media screen and (max-width: $screen-xs-max) {
      display: flex;
    }
  }
  .section-title {
    display: inline-block;
    margin: 0 auto;
  }
}