.home-benefits {
  $icon-card-size: 110px;
  $icon-size: 60px;
  text-align: center;
  h2 {
    color: $color__text-primary;
    margin-bottom: 4rem;
    position: relative;
    padding-bottom: 25px;
    @include fancy-divider;
  }
  h3 {
    color: $color__text-primary;
  }
  .home-benefits-container {
    width: 100%;
    max-width: $content_max-width;
    margin: 0 auto;
    padding: 0px 5%;
  }
  .home-benefits-cards-container {
    margin-bottom: 4rem;
    // @include stack-mobile($screen-xs-max);
  }
  .home-benefit-card {
   display: block;
    &:first-child {
      margin-left: 0px;
    }
    &:last-child {
      margin-right: 0px;
    }
  }
  .home-benefit-card-text {
    background-color: $color__background-light;
    color: $color__text-primary;
    padding: 0px;
    text-align: center;
  }
  .home-benefit-icon {
    margin: 0 auto 10px auto;
    text-align: center;
    i {
      color: $color__brand-primary;
      font-size: $icon-size;
    }
    div {
      width:$icon-card-size;
      height: $icon-card-size;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: $color__background-light;
      border-radius: 50%;
      box-shadow: 0 5px 15px rgba(102, 102, 102, 0.1);
    }
  }
  .home-benefits-ctas {
    text-align: center;
    @include stack-mobile($screen-xs-max);
    @media screen and (max-width: $screen-xs-max) {
      display: flex;
    }
  }
  .section-title {
    display: inline-block;
    margin: 0 auto;
  }
  @media screen and (min-width: $screen-sm-min) {
    h2 {
      padding-bottom: 0px;
    }
  }
}