.home-video {
  padding: 45px 3%;
  .home-video-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include stack-mobile($screen-xs-max);
  }
  .video {
    width: 50%;
    margin-right: 50px;
    text-align: center;

    position: relative; 
    padding-bottom: 27%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    
    iframe,
    object,
    embed { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .video-textarea {
    @include standard-text-block;
    padding: 50px;
    position: relative;
    width: 50%;
    @include fancy-divider-vert;
  }
}