.home-contact-form-section {
  position:  relative;
  h2 {
    color: $color__text-primary;
    font-size: 3rem;
    text-align: left;
  }
  .content-container {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    @include stack-mobile($screen-xs-max);
    .home-contact-image {
      flex: 50%;
      position: relative;
      top: 0;
      left: 0;
    }
    .home-contact-form {
      flex: 50%;
      padding: 15px 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
     .contact-title-container {
        display: block;
        width: 80%;
      }
      .wpcf7 {
        width: 80%;
        .wpcf7-form label {
          font-size: 18px;
        }
        input {
          color: $color__text-primary;
          &[type=submit] {
            color: #fff;
          }
        }
      }
    }
  }
}