.home-contact-form-section {
  position:  relative;
  h2 {
    color: $color__text-primary;
    display: inline-block;
    font-size: 3rem;
    margin-bottom: 25px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    @include fancy-divider;
  }
  .content-container {
    display: flex;
    flex-direction: row-reverse;
    position: relative;

    @include stack-mobile($screen-xs-max);
    .contact-form-container {
      border-radius: 15px;
      width: 100%;
    }
    .home-contact-image {
      flex: 50%;
      position: relative;
      top: 0;
      left: 0;
    }
    .home-contact-form {
      flex: 1;
      padding: 15px 5%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
     .contact-title-container {
        align-self: flex-start;
        display: block;
        width: 100%;
      }
      .wpcf7 {
        width: 100%;
        .wpcf7-form label {
          font-size: 18px;
        }
        input {
          color: $color__text-primary;
          &[type=submit] {
            color: #fff;
          }
        }
      }
      @media screen and (min-width: $screen-sm-min) {
        flex: 50%;
        padding-left: 50px;
        padding-right: 50px;
        .contact-title-container {
          width: 80%;
        }
      }
    }
    .uk-card-body {
      padding: 20px 40px;
    }
  }
  @media only screen and (min-width: $screen-md-min) {
    h2 {
      padding-bottom: 0px;
      text-align: left;
      margin-bottom: 0px;
      @include mini-fancy-divider;
    }
  }
}