.home-video {
  padding: 45px 3%;
  .home-video-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .video {
    width: 50%;
    padding-right: 50px;
  }
  .video-textarea {
    @include standard-text-block;
    padding: 50px;
    position: relative;
    width: 50%;
    @include fancy-divider-vert;
  }
}