// div[data-elementor-type="wp-page"] {
//   margin-top: 109px;
// }
.site-main {
  padding-left: 5%;
  padding-right: 5%;
  article.page {
    max-width: $content__med-width;
    margin: 50px auto 0;
    h1 {
      display: inline-block;
      color: $color__text-primary;
      font-size: 4em;
      margin-top: 0px;
      margin-bottom: 25px;
      position: relative;
      @include fancy-divider;
    }
    section {
      padding-left: 0;
      padding-right: 0;
    }
  }
}