form.wpcf7-form {
  width: 100%;
}

input.wpcf7-form-control,
textarea.wpcf7-form-control {
  display: block;
  border: none;
  border-bottom: 1px solid #000;
}
.wpcf7-form-control-wrap input {
  width: 100%;
}
input[type="submit"].wpcf7-form-control {
  @include cta-primary;
}