form.wpcf7-form {
  width: 100%;
  label {
    font-family: $font-primary;
    font-size: 1.25rem;
    color: $color__text-primary;
  }
}

input.wpcf7-form-control,
textarea.wpcf7-form-control {
  display: block;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $color__text-primary;
  &:focus {
    outline: none;
    box-shadow: 0 0 3px 2px $color__brand-secondary;
    border-radius: 4px; 
    border-bottom: none;
  }
}
.wpcf7-form-control-wrap {
  display: block;
  margin-top: 5px;
}
.wpcf7-form-control-wrap input {
  width: 100%;
}
input[type="submit"].wpcf7-form-control {
  @include cta-primary;
}




