$size__site-main: 100%;
$size__site-sidebar: 25%;

$content__med-width: 1400px;
$content_max-width: 1600px;

$screen-xs-min: 480px;
$screen-xxs-min: ($screen-xs-min - 1);
$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
$screen-xl-min: 1400px;
$screen-lg-max: ($screen-xl-min - 1);