.home-about {
  .content-container {
    max-width: $content__med-width;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .home-about-img {
    width: 45%;
    max-width: 620px;
    img {
      object-fit: cover;
      width: 100%;
    }
  }
  .home-about-text-container {
    flex: 1;
    position: relative;
    margin-left: -100px;
    .about-box {
      position: relative;
      background-color: $color__brand-primary;
      padding: 35px 35px 35px 70px;
    }
    h2 {
      // text-shadow: -2px -2px $color__text-white;
      background-color: $color__white;
      color: $color__brand-primary;
      margin: 0;
      line-height: 1em;
      position: absolute;
      left: 0px;
      top: 0;
      transform: translateY(-60%);
      padding: 5px 20px;
    }
    p {
      margin: 0;
    }
    .cta-primary {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(100%);
    }
  }

}